extends layout

block content
  h1= title
  form(id='KiteForm', action="/resource/kites", method="POST")
    div.form-group
      label.kiteAttr(for='kite_color') Kite Color
      input#kite_color(type='text', name='kite_color')
    div.form-group
      label.kiteAttr(for='material') material
      input#material(type='text', name='material')
    div.form-group
      label.kiteAttr(for='length') length
      input#length(type='number', name='length')
    input(type="submit")
  script.
    document.forms['KiteForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        return resp.json();
      }).then((body) => {
        alert("Save succeeded");
      }).catch((error) => {
        alert("Save failed " + error);
      });
    });
